{% extends "base.html" %}

{% block body %}
<div style="margin-top: 20px; margin-right: 25px; margin-bottom: 30px; margin-left: auto;">
<div style="margin-right: 25px; margin-left: 25px;">
<pre>

 ░▒▓███████▓▒░░▒▓██████▓▒░ ░▒▓██████▓▒░
░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░
 ░▒▓██████▓▒░░▒▓████████▓▒░▒▓█▓▒░
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░░▒▓██████▓▒░


░▒▓█▓▒░░▒▓█▓▒░░▒▓██████▓▒░░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░
 ░▒▓█▓▒▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░
 ░▒▓█▓▒▒▓█▓▒░░▒▓████████▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓██████▓▒░  ░▒▓██████▓▒░
  ░▒▓█▓▓█▓▒░ ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░         ░▒▓█▓▒░
  ░▒▓█▓▓█▓▒░ ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░         ░▒▓█▓▒░
   ░▒▓██▓▒░  ░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓████████▓▒░▒▓████████▓▒░  ░▒▓█▓▒░


░▒▓██████████████▓▒░░▒▓████████▓▒░░▒▓███████▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓██████▓▒░  ░▒▓██████▓▒░░▒▓████████▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░             ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░             ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░
░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░
</pre>
</div>
<h2 style="margin-right: 25px; margin-left: 25px;">This <a href="https://github.com/denmojo/meshview" target="_blank">Meshview</a> monitors <a href="https://meshtastic.org/" target="_blank">Meshtastic</a> MQTT root topic: <b>msh/US/CA/sacvalley</b></h2>    
<p style="margin-right: 25px; margin-left: 25px;">We are a group of offgrid mesh nodes in the <a href="https://meshtastic.liamcottle.net/?lat=38.48103980946054&lng=238.80020141601562&zoom=10" target="_blank">Sacramento Valley of California</a>.</p>
<p style="margin-right: 25px; margin-left: 25px;">Chat with us on <a href="https://discord.gg/kk26pjpDhG" target=_blank">Discord</a>.</p>
<p style="margin-right: 25px; margin-left: 25px;">Enter a node ID below, e.g. <b>!36d6ef61</b></p>
{% include "search_form.html" %}
    <p style="margin-right: 25px; margin-left: 25px;"><a href="/graph/network">See a realtime graph of the network</a></p>
    <p style="margin-right: 25px; margin-left: 25px;"><a href="/chat">See what people are saying</a></p>
    <p style="margin-right: 25px; margin-left: 25px;"><a href="/firehose">See <strong>everything</strong></a></p>
    <p style="margin-right: 25px; margin-left: 25px; font-size: 12px;">Click <a href="https://lmgtfy2.com/s/ueMO52" target=_blank">here</a> if you don't know what Meshtastic is or what you can do with it..</p>
</div>
{% endblock %}
